# Virtual Environment
venv/
.venv/

# Environment variables
.env
.flaskenv

# Python cache
__pycache__/
*.pyc
*.pyd
*.pyo

# Logs
logs/
*.log

# Databases
*.db
*.sqlite
*.sqlite3
chroma_db/
uploaded_files/

# IDEs
.idea/          # PyCharm
.vscode/        # VS Code (se armazenar configurações pessoais)
*.swp           # Arquivos swap do Vim
*~              # Arquivos de backup do Emacs

# Temporary files
tmp/
*.tmp
.DS_Store       # macOS específico

# Distribution and packaging
dist/
build/
*.egg-info/

# Test files
.pytest_cache/
htmlcov/

# Certificates (se forem gerados/armazenados localmente)
*.pem
*.crt
*.key


